* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
.container {
    width: 100%;
    min-height: 100vh;
    background: rgb(7, 2, 68);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .calculator {
    width: 280px;
    background: antiquewhite;
    padding: 20px 10px;
    border-radius: 10px;
}
.container .calculator .screen {
    width: 100%;
    background: black;
    padding: 7px;
    color: white;
    font-size: 18px;
    border-radius: 5px 5px 0 0;
}
.container .calculator .screen #result ,.container .calculator .screen #type {
    height: 32px;
}
.container .calculator .screen #result {
    text-align: right;
    margin-top: 5px;
}
.container .calculator .numpad {
    display: flex;
    flex-wrap: wrap;

}
.container .calculator .numpad button{
    width: 52px;
    margin-right: 12px;
}

.container .calculator .numpad button{
    width: 52px;
    margin-right: 17px;
    margin-top: 10px;
    height: 35px;
    border: none;
    color: #fff;
    border-radius: 5px;
    box-shadow: inset 2px -2px 3px rgba(255,255,255,0.25);
    text-shadow: 1px 1px 5px rgba(255,255,255,0.3), -1px -1px 5px rgba(255,255,255,0.25);
    outline: none;
    background: rgb(5, 5, 59);
    cursor: pointer;
    transition: 0.2s;
}

.container .calculator .numpad button:nth-child(4n){
    margin-right: 0;
}

 